{% extends "main.html" %}

{% block content %}
<div class="container">
<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Фотогалерея</h1>

<hr class="mt-2 mb-5">
<div class="row text-center text-lg-left">

        {% for img in images %}
    <div class="col-lg-3 col-md-4 col-6">
        <!--                <span class="font-italic">{{ img.name }}</span>-->
        <img src="{{ img.Img.url }}" class=" img-fluid img-thumbnail"/>
   </div>
        {% endfor %}

</div>
</div>
{% endblock %}


