{% extends "main.html" %}

{% block content %}
{% include "carousel.html" %}
<style>
      p { text-indent: 25px; }
</style>
<h2 class="text-center">Атмосферное электричество</h2>
<p class="lead"  class="text-justify">
Электрические свойства атмосферы и электрические явления,
в ней происходящие, имеют существенное значение для многих
метеорологических процессов. Они являются одними из основных
характеристик атмосферы. Кроме того, электрические параметры
атмосферы нередко значительно влияют на работу многих производственных процессов в современном техническом мире. Очевидно, что анализ электрического состояния атмосферы имеет непреходящее практическое значение для деятельности человека.
Эволюция электрических параметров атмосферы, регистрируемая
при непрерывных наблюдениях за значительные периоды, может
служить гибким индикатором антропогенного воздействия на окружающую среду.
</p>

<p class="lead"  class="text-justify">Наиболее известны и доступны непосредственному восприятию каждого наблюдателя такие явления, как грозы, светящиеся
тихие разряды с острий (огни святого Эльма) и полярные сияния.
С древнейших времен грозы и особенно вспышки молний наводили ужас на людей. Электрические проявления в облаках грандиозны и сложны; они сопровождаются внешне необычными явлениями, будь то молнии, доходящие до 150 км, или шаровые молнии,
являющиеся накопителями энергии, пока еще неопознанной природы. Впервые идея о существовании атмосферного электричества
появилась тогда, когда было высказано предположение, что гром и
молния представляют собой ни что иное, как проявление в гигантских масштабах тех же явлений, которые наблюдаются в лабораторных опытах со статическим электричеством. Действительно,
все эти грозовые явления начинаются, на первый взгляд, с простого процесса - со статической электризации, приводящей к возникновению избыточного заряда на отдельной частице или в микрообъеме воздуха. Анализ статической электризации - это первый
шаг в понимании физики грозовых процессов.</p>

<p class="lead"  class="text-justify">
    Укажем основные задачи, исследуемые в области электричества облаков:
<ul class="list-unstyled">
    <li>- прогноз гроз;</li>
    <li>- борьба с электростатической опасностью, возникающей при полете самолетов в облаках;</li>
    <li>- создание средств регулирования электрической активности облаков и др.</li>
</ul>
<p class="lead"  class="text-justify">Однако и при хорошей погоде, когда никаких визуальных
проявлений электрической активности не существует, в атмосфере
протекают электрические процессы: в атмосфере постоянно текут
электрические токи, возникают макрозаряды атмосферы и Земли,
формируются электрические поля.
</p>
<p class="lead"  class="text-justify">
Перечислим основные вопросы, которые решают при изучении атмосферного электричества:
</p>
    <ul class="list-unstyled">
        <li>- природа электрических зарядов атмосферы и Земли;</li>
        <li>- природа проводимости атмосферы;</li>
        <li>- электричество облаков различных форм;</li>
        <li>- процессы возникновения и развития молнии;</li>
        <li>- балансы электрических токов в глобальной атмосферноэлектрической цепи;</li>
        <li>- связь электрических процессов, протекающих как в нижних, так и в средних и верхних слоях атмосферы;</li>
        <li>- мониторинг окружающей среды при использовании атмосферно-электрических параметров.</li>
    </ul>
</p>{% endblock %}